/** Header Frame: Title and Description**/
*{
    background-color: rgb(61,80,95);
    color: #fff;
}

#title {
    font-size: 15px;
    font-weight: bold;
    font-family: "Arial";
}

#des QTextEdit {
    font-size:10px;
    border:0;
}